.review-section {
  display: flex;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.left-side, .right-side {
  position: relative;
  width: 40%;
}

.left-side {
  width: 40%;
}

.right-side {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-image {
  position: absolute;
  top: 20%;
  left: 20%;
}

.overlay-image img {
  width: 50%;
  height: auto;
}

.text-content {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  text-align: left;
}

.text-content h1 {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.text-content .icon {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.text-content h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .review-section {
    flex-direction: column;
  }

  .left-side, .right-side {
    width: 100%;
    height: auto;
  }

  .text-content {
    left: 5%;
    right: 5%;
    text-align: center;
  }
}
