AI_SERVICE_NAME=Sustainability Connect AI Service
AI_SERVICE_PORT=8000

MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/sustainability
MONGODB_DB=sustainability

RECOMMENDATION_LIMIT=8
SEARCH_LIMIT=20
